/***********************************************************************************
__________        .__                _________ .__  .__  _____  __
\______   \_______|__|____    ____   \_   ___ \|  | |__|/ ____\/  |_  ____   ____
 |    |  _/\_  __ \  \__  \  /    \  /    \  \/|  | |  \   __\\   __\/  _ \ /    \
 |    |   \ |  | \/  |/ __ \|   |  \ \     \___|  |_|  ||  |   |  | (  <_> )   |  \
 |______  / |__|  |__(____  /___|  /  \______  /____/__||__|   |__|  \____/|___|  /
        \/                \/     \/          \/                                 \/

***********************************************************************************/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -280px; /* Negative indent footer by its height */
  padding: 0 0 280px; /* Pad bottom by footer height */
}
#footer-large {
  width: 100%;
  height: 280px;
}

div ul.nav.navbar-nav a { text-transform: capitalize; }
a.navbar-brand { text-transform: uppercase; }
nav#header { margin: 0px; }

div#footer-top { background-color: #4f4f4f; text-align: left; min-height: 241px; }
div#footer-bottom { background-color: #6d6d6d; text-align: center; height: 39px; }
footer > div#footer-top > div.container { padding-top: 20px; padding-bottom: 20px; }
footer > div#footer-bottom > div.container { padding-top: 10px; padding-bottom: 10px; font-size: 10pt; }
footer div { color: #ccc; }
footer h4 { color: #fff; text-transform: capitalize; padding-bottom: 5px; border-bottom: solid 1px #6f6f6f; }

.icons { margin-left: 20px; display: inline-block; background-image: url(../i/sprite.png); width: 64px; height: 64px; }

/* GitHub - https://github.com/logos */
.github { background-position: 0px 0px; }
.github:hover { background-position: 0px -64px; }

/* LinkedIn - https://brand.linkedin.com/visual-identity/logo */
.linked-in { background-position: -64px 0px; width: 76px; }
.linked-in:hover { background-position: -64px -64px; }

/* Twitter - https://about.twitter.com/press/brand-assets */
.twitter { background-position: -140px 0px; width: 65px; margin-left: 0px; }
.twitter:hover { background-position: -140px -64px; }

.portrait-jumbo { text-align: center; background-color: #000; padding: 0px; border-bottom: 5px solid #337ab7; color: #fff; }
.portrait { background-image: url(../i/2016-03-06-sprite.png); background-position: 0px -128px; width: 322px; height: 322px; margin: 0px; border: 0px; }

.loading {
  display: inline-block;
  background-image: url(../i/ajax-loader.gif);
  width: 16px;
  height: 11px;
}

#blog-entries p a {
  color: #ccc;
}