/***********************************************************************************
__________        .__                _________ .__  .__  _____  __
\______   \_______|__|____    ____   \_   ___ \|  | |__|/ ____\/  |_  ____   ____
 |    |  _/\_  __ \  \__  \  /    \  /    \  \/|  | |  \   __\\   __\/  _ \ /    \
 |    |   \ |  | \/  |/ __ \|   |  \ \     \___|  |_|  ||  |   |  | (  <_> )   |  \
 |______  / |__|  |__(____  /___|  /  \______  /____/__||__|   |__|  \____/|___|  /
        \/                \/     \/          \/                                 \/

***********************************************************************************/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#content-wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -80px; /* Negative indent footer by its height */
  padding: 0 0 80px; /* Pad bottom by footer height */
}
body > footer {
  width: 100%;
  min-height: 80px;
  height: 80px;
  background-color: #4f4f4f;
  text-align: left;
  border-top: 5px solid #e7e7e7;
}
body > footer .container {
  background-color: #4f4f4f;
}
body > footer .copyright {
  margin-top: 29px;
  margin-bottom: 10px;
  color: #ccc;
  text-align: center;
}
body > footer .social {
  margin-top: 7px;
  font-size: 48px;
  text-align: center;
}
body > footer .social a {
  margin-right: 15px;
}
body > footer .social a:hover {
  text-decoration: none;
}

div ul.nav.navbar-nav a { text-transform: capitalize; }
a.navbar-brand { text-transform: uppercase; }
div#content-wrapper > header > nav { margin: 0px; border-width: 0 0 5px; }

/* formatting for headers / titles / paragraphs */
h1, h2, h3, h4, h5, h6 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important;
}
h2.h1 {
  font-size: 30px;
  margin-top: 5px;
}
h4 {
  font-weight: bold;
}
ul.meta a.date {
  font-weight: bold;
}

/* paragraph formatting */
p {
  margin: 0 0 15px 0;
}

/* landing page */
#content-wrapper.index {
  background-color: #eee;
}

#portrait-jumbo {
  text-align: center;
  background-color: #000;
  padding: 0px;
  border-bottom: 5px solid #337ab7;
  color: #fff;
  margin-bottom: 0px;
}
.portrait {
  display: inline-block;
  background-image: url(/i/sprite-index.png);
  background-position: 0px 0px;
  width: 322px;
  height: 322px;
  margin: 0px;
  border: 0px;
}

section#intro .container {
  text-align: center;
  margin-bottom: 0px;
  padding: 30px;
}
section#intro .container > div {
  display: inline-block;
  font-size: 18px;
}

section#main {
  text-align: center;
}
section#main h4 {
  margin: 0px;
  padding: 5px;
  background-color: #4f4f4f;
  color: #ccc;
}
section#main div#blog-entries {
  text-align: left;
  display: inline-block;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  min-height: 200px;
  background-color: #fff;
  padding: 0;
}

.loading-container {
  text-align: center;
  margin-top: 30px;
}
.loading {
  display: inline-block;
  background-image: url(/i/ajax-loader.gif);
  width: 16px;
  height: 11px;
}

div#blog-entries p.post,
div#blog-entries p.no-entries,
div#blog-entries p.failure {
  margin: 10px;
}

/* /learn/ page */
table.table {
  font-size: 11px;
}

.learn-factory {
  display: inline-block;
  background-image: url(/i/sprite-learn.png);
  background-position: 0px 0px;
  width: 320px;
  height: 194px;
  margin: 0px;
  border: 0px;
}
.learn-dw {
  display: inline-block;
  background-image: url(/i/sprite-learn.png);
  background-position: 0px -194px;
  width: 320px;
  height: 193px;
  margin: 0px;
  border: 0px;
}

/* /about/ page */
.intentionally-blank {
  display: none;
}

i.loading-button {
  display: inline-block;
  background-image: url(/i/loader-button-16x16.gif);
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}