{{#document 'about'}}
  <section id="page-content">
    <div class="container">
      <h1>{{htmlWebpackPlugin.options.title.about}}</h1>
{{#markdown}}
I'm a developer at [Brave Software](https://brave.com) and enjoy taking part in the open source community.
_____
Before joining Brave, I spent 8 years as a developer at GoDaddy working on different hosting products. These included dedicated hosting, VPS, shared hosting, and their associated UIs.

Before GoDaddy, I was in the manufacturing (TMG) organization at Intel (2005 – 2008). I worked on middleware products (COM/DCOM, guaranteed delivery services, etc) used at the D1D factory in Hillsboro, Oregon. D1D is/was the flagship factory where the ground-breaking process engineering took place for processors. Products I worked on were used in the 1264 (65nm), 1266 (45nm) and 1268 (32nm) processes.

Before Intel and GoDaddy, I also worked for several small businesses in the payment processing industry.
_____
Some friends and I formed Morgopolis Studios, LLC in 2012 and released our first video game, [Magicians &amp; Looters](http://bit.ly/1ou4jUa), for the Xbox 360 Indie Games marketplace. It’s also available [for PC on Steam](http://bit.ly/234nDdJ).
_____
I’ve been writing software since the early 1990s (when I was 10 or 11 years old) and I still love it. I attended and got a bachelor's degree from UAT (University of Advancing Technology) here in the valley (Tempe, AZ).
{{/markdown}}
    </div>
    <div class="container">
      <div id="email-form">
        <h2 id="contact">{{htmlWebpackPlugin.options.title.contact}}</h2>
        <p>
          Do you have a question or comment? Let me know what you think. Be sure to include your email address if you want a response.
        </p>
        <div class="form-group">
          <label for="email-name">Name (optional)</label>
          <input id="email-name" type="text" class="form-control" placeholder="Your name" data-event-category="contact-me" data-event-action="name">
        </div>
        <div class="form-group">
          <label for="email-address">Email address (optional)</label>
          <input id="email-address" type="email" class="form-control" placeholder="Your email address" data-event-category="contact-me" data-event-action="email">
        </div>
        <div class="form-group intentionally-blank">
          <label for="email-url">Url</label>
          <input id="email-url" type="text" class="form-control" placeholder="Your website url" data-event-category="contact-me" data-event-action="url">
        </div>
        <div class="form-group">
          <label for="email-message">Message</label>
          <textarea id="email-message" class="form-control" rows="5" placeholder="Your message" data-event-category="contact-me" data-event-action="message"></textarea>
        </div>
        <button id="email-submit" type="submit" class="btn btn-primary" onclick="submitEmailForm();" data-event-category="contact-me" data-event-action="submit">
          Submit <i class="loading-button" style="display:none;"></i>
        </button>
      </div>
      <div id="email-sent" style="display:none;">
{{#markdown}}
## Your message has been sent
Thanks for the feedback! If you included your email and are expecting a response, I should be able to reply within 24 hours (no promises though).
{{/markdown}}
      </div>
    </div>
  </section>
{{/document}}