{{#document 'index'}}
  <section id="portrait-jumbo">
    <div class="icons portrait"></div>
    <h1>Hi, I'm Brian :)</h1>
  </section>

  {{#section 'intro'}}
    <p>
      My goal is to make a difference in people's lives.
    </p>
    <p>
      I've been writing code since 1993 and I want to share all the things I've learned along the way.
    </p>
    <p>
      I'm always learning new things, <a title="My GitHub profile" href="{{links.github}}" rel="me nofollow noopener" target="_blank">contributing on GitHub</a>,
      <a title="My Twitter account" href="{{links.twitter}}" rel="me nofollow noopener" target="_blank">tweeting about coding</a>,
      and <a title="My blog" href="{{links.blog}}">blogging</a>.
    </p>
  {{/section}}

  <section id="main">
    <div class="empty col-md-4"></div>
    <div id="blog-entries" class="col-md-4">
      <h4><i class="fa fa-newspaper-o" style="margin-right:10px;"></i>Recent blog entries</h4>
      <div class="loading-container" style="display:none;"><div class="loading"></div></div>
      <p class="no-entries" style="display:none;">No entries yet</p>
      <p class="failure" style="display:none;">Error loading blog entries</p>
    </div>
    <div class="empty col-md-4"></div>
  </section>
{{/document}}
