<footer>
  <div class="container">
    <div class="social col-md-4">
      <a class="fa fa-twitter" href="{{links.twitter}}" title="Twitter" rel="me nofollow noopener" target="_blank"></a>
      <a class="fa fa-github" href="{{links.github}}" title="GitHub" rel="me nofollow noopener" target="_blank"></a>
      <a class="fa fa-linkedin-square" href="{{links.linkedin}}" title="LinkedIn" rel="me nofollow noopener" target="_blank"></a>
    </div>
    <div class="copyright col-md-8">
      &copy; Copyright 2016, {{meta-author}}
    </div>
  </div>
</footer>
<script type="text/javascript" src="/js/clifton-io-website.min.js"></script>
<script type="text/javascript">
  {{#if about}}
  setupEmailForm();
  {{/if}}
  {{#if index}}
  getRecentBlogPosts();
  {{/if}}
</script>