<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{head-title}}</title>
  <link rel="stylesheet" href="/css/clifton-io-website.min.css">
  <link rel="canonical" href="{{head-link}}">
  <link rel="author" href="https://plus.google.com/+BrianCliftonBSC">
  <meta name="description" content="{{head-description}}">
</head>